/*.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}*/

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #000066;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}

.navbar-dark {
  background-color: #000066;
  border-color: #000066;
  border-radius: 0;
  padding: 0;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand: hover
.navbar-dark .navbar-brand: focus {
   color: #fff;
}

.navbar-dark .navbar-nav > li.nav-item > a.nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #cc66ff;
}

.navbar-dark .navbar-nav> .active> a,
.navbar-dark .navbar-nav> .active> a:hover,
.navbar-dark .navbar-nav> .active> a:focus {
  color: #fff;
  background-color: #cc66ff;
}

.navbar-dark .navbar-nav > .disabled > a,
.navbar-dark .navbar-nav > .disabled > a:hover,
.navbar-dark .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: #000066;
}

.navbar-dark .navbar-nav > li.dropdown > a.dropdown-toggle {
  color: #fff;
  background-color: #000066;
}

.navbar-dark .navbar-nav > li.dropdown > a.dropdown-toggle:hover,
.navbar-dark .navbar-nav > li.dropdown > a.dropdown-toggle:focus {
    color: #fff;
    background-color: #cc66ff;
}

.navbar-dark .navbar-nav > li.dropdown > div.dropdown-menu {
    background-color: #000066;
}

.navbar-dark .navbar-nav > li.dropdown > div.dropdown-menu > a {
    color: #fff;
    background-color: #000066;
}

.navbar-dark .navbar-nav > li.dropdown > div.dropdown-menu > a:hover,
.navbar-dark .navbar-nav > li.dropdown > div.dropdown-menu > a:focus {
    color: #fff;
    background-color: #cc66ff;
}

.navbar-dark .navbar-nav > li.dropdown > ul.dropdown-menu > li.dropdown-submenu > ul.dropdown-menu {
    color: #fff;
    background-color: #000066;
}

.navbar-dark .navbar-nav > li.dropdown > ul.dropdown-menu > li.dropdown-submenu > ul.dropdown-menu > li > a {
    color: #fff;
    background-color: #000066;
}

.navbar-dark .navbar-nav > li.dropdown > ul.dropdown-menu > li.dropdown-submenu > ul.dropdown-menu > li > a:hover,
.navbar-dark .navbar-nav > li.dropdown > ul.dropdown-menu > li.dropdown-submenu > ul.dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #000066;
}

.navbar-dark .navbar-text {
  color: #fff;
}

.navblack {
  background-color: black;
  border-color: black;
  border-radius: 0;
  padding: 0;
}