.info-box-content {
	background-color: #e6e6ff; 
	height: 100px;
}

.info-box-content > p {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.info-box-icon {
	height: 100px;
	padding-top: 15px;
	text-align: center;
	font-size:50px;
	color: white;
}

.bg-aqua{
    background-color: #0099cc; 
}

.bg-orange{
    background-color: #ff9933; 
}

.bg-green{
    background-color: #00802b; 
}

.bg-blue{
    background-color: #002266; 
}

.bg-online{
	background-color: #226863;
}

.bg-travel{
	background-color: #9e078a;
}

.bg-red{
    background-color: #045c7c; 
}

.secondRow {
	background-color: #e6f2ff; 
	height: 300px;
}