.date {
    /*position: relative;*/
    width: 173px; height: 40px;
    /*color: white;*/
}

.date:before {
    /*position: absolute;*/
    top: 30px; left: 30px;
    content: attr(data-date);
    /*display: inline-block;*/
    color: black;
}

.date::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

/*input::-webkit-calendar-picker-indicator {*/
/*    position: absolute;*/
/*    top: 3px;*/
/*    right: 0;*/
/*    color: black;*/
/*    opacity: 1;*/
/*}*/



.emp-date {
    width: 46% !important;
    height: 40px !important;
    margin-left: 2% !important;
}
