.dropbtn {
    background-color: #f9f9f9;
    color: #0f0f0f;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    text-align: left;
}

.dropdown-content a {
    color: whitesmoke;
    background-color: #2d80c6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
}

.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    transition: max-height 0.25s ease-in;
}

