.tree li.parent_li>span {
    cursor:pointer
}

.add-new{
    margin-left: 15%;
}

.btn-light {
    background-color: black;
    border-color: #f8f9fa;
    color: white;
}

.inputbox {
    height: 22px;
    width: 100px;
}


.grand-total{
    margin-top: 10px;
    border: 2px solid rebeccapurple;
}

.amount{
    margin-left: 12%;
}

.config-label{
    margin-top: 22%;

}

.show-button{
    margin-top: 16%;
}


.auto{
    display: none;
}


.manual{
    display: none;
}

.room{
    display: none;
}

.venue{
    display: none;
}

.vertical-separator {
    border-left: 1px solid black;
    height: 200px;
    position: relative;
    left: -31%;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


code{
    color: black !important;
}

strong {
    white-space: nowrap;
}

.bill-top {
    border-top: 0px solid #ddd !important;
}

.bill-down {
    border-top: 2px solid black !important;
}

.th-down {
    border-bottom: 2px solid black !important;
}

/*p {*/
/*    white-space: nowrap;*/
/*}*/



