.tree li.parent_li>span {
    cursor:pointer
}

.add-new{
    margin-left: 15%;
}

.btn-light {
    background-color: black;
    border-color: #f8f9fa;
    color: white;
}

.inputbox {
    height: 22px;
    width: 100px;
}


.grand-total{
    margin-top: 10px;
    border: 2px solid rebeccapurple;
}

.amount{
    margin-left: 12%;
}

.config-label{
    margin-top: 22%;

}

.show-button{
    margin-top: 38%;
}


.auto{
    display: none;
}


.manual{
    display: none;
}

.room{
    display: none;
}

.venue{
    display: none;
}

.vertical-separator {
    border-left: 1px solid black;
    height: 200px;
    position: relative;
    left: -31%;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


code{
    color: black !important;
}

strong {
    white-space: nowrap;
}

.bill-top {
    border-top: 0px solid #ddd !important;
}

.bill-down {
    border-top: 2px solid black !important;
}

.th-down {
    border-bottom: 2px solid black !important;
}

.font-color {
    color: white;
}

.card-booking {
    margin-top: 45%;
}

.btn-i {
    color: #fff;
    background-color: #174eb8;
    border-color: #343a40;
}

.btn-i.focus, .btn-i:focus, .btn-i:hover {
    color: #ffffffd9 !important;
    background: #2154cee6;
}


.btn-ii {
    color: #f0f8ffed;
    background-color: #91c429;
    border-color: #ccc;
}

.btn-ii.focus, .btn-ii:focus, .btn-ii:hover {
    color: #f2f2f2 !important;
    background: #a8c444e6;
}


.btn-iii {
    color: #fff;
    background-color: tomato;
    border-color: #ec755f;
}

.btn-iii.focus, .btn-iii:focus, .btn-iii:hover {
    color: #e6e1e1 !important;
    background-color: #db5038;
    border-color: #d54126;

}






.ml-book {
    margin-bottom: 18% !important;
    margin-left: 1%;
}




.receipt {
    margin-bottom: 7%;
}


.no-wrap {
    white-space: nowrap;
}



.delete {
    color: #cc4242;
}


.required{
    color: #ff0000;
}


table {
    table-layout: fixed;
    width: 100%;
}



table thead tr th:first-child {
    width: 10%;

}

